*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 30px;
    background-color: coral;
}
ul{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}

li{
    list-style: none;
    float: left;
    width: 100px;
    line-height: 30px;
    text-align: center;
    color:white
}
.clearFix::after{
    content: "";
    display: block;
    clear: both;
}